@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: url("hamburguergourmet-fb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

main{
    background-color: white;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 2px;
    margin: auto;
}

div{
    background-image: linear-gradient(to bottom, white);
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.288), white);
}
h1{
    height: 7vh;
    background-image: url("hamburguergourmet-fb.jpg");
    background-position: center center;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);

}

.container{
    display: flex;

}

.caixa{
     background-color: #fff8dc;      
      border: 1px solid #FFD700;      
      padding: 5px;                  
      width: 800px;    
      border-radius: 3px; 
      box-shadow: 2px 2px 2px #ccc;
      margin-top: 1px;
      
       
           
      
      
}
.destaque{
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    margin-bottom: 2px;
    margin-top: 0px;
}
p{
    text-align: justify;
}