@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixo{
  position: fixed;
  top: 0;
  left: 0;
 /* box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/ /* sombra opcional */
  margin-top: 1px;
  margin: auto;
}

div.container{
    display: flex;

}

div.itemprincipal{
    background-color: #8B0000;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: auto;
    flex: auto;

}

div.item{
    text-align: center;
    margin-bottom: 50px;
    flex: auto;
}

body{
    font-family: Arial, sans-serif;
    /*background-image: url("hamburguergourmet-fb.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header{
     background-position: center center;
     background-size: cover;
     border-radius: 10px;
    color: black;
    padding: 27px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
}


h1{
    background-color: #8B0000;
    color: white;
    max-width: 600px;
    right: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    text-align: center;
 }
main{
    /* background-color: white; */
    max-width: 600px;
    border-radius: 10px;
   /* box-shadow: 1px 1px 1px black;*/
    padding: 2px;
    margin: auto;
}

.menu h2{
    background-color: #8B0000;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    margin: auto;
}

.card{
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card img{
    width: 10%;
    border-radius: 8px;
}

.card button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: red;
}


div{
    background-color: white;   
}

.contato{
    background-color: white;
    color: black;
    margin-top: 10px;
    margin: auto;
    text-align: center;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 80px;
    margin: auto;
}
.pedido{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 0 0 10px;
    
    
}

.pedido form{
    display: flex;
    flex-direction: column;
}

.pedido label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pedido input,
.pedido select,
.pedido button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pedido button {
    margin-top: 20px;
    background-color: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
    
}

.pedido button:hover {
    background-color: red;
}
